<div id="spc_testfile" data-module="spc_testfile" data-spc_testfile="Spc_testfile JS-module loaded!">
	<div>
		<div>
			<h1>{{ spc_testfile.heading }}</h1>
			<h6>{{ spc_testfile.pitch }}</h6>
			<p>{{ spc_testfile.content }}</p>
		</div>
	</div>
</div>
