$radial-light-sunglasses: rgba(0,0,0,0.15);
$black-transparent-bg: rgba(0, 0, 0, 0.4);
$black-transparent-bg-hover: rgba(0, 0, 0, 0.7);

/* Clearfix */
.spc_article_excerpts::after {
  content: "";
  clear: both;
  display: table;
}

.spc_article_excerpts {

	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 1% auto;

	> div {
		text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    margin: 30px auto 40px;
    width: 100%;
    float: left;
	}

	article {
		position: relative;

		background-position: center;
		background-size: cover;

		float: left;
		width: 32%;
		margin: 0 0 1% 1%;
		height: 200px;

		hr {
			border: 0; 
		  height: 1px;
		  background: rgba(255, 255, 255, 0.3);
		  margin: 5px auto;
		}

		> div {
			position: absolute;
			width: 100%;
			height: 100%;
			background: $radial-light-sunglasses;
			transition: all 0.4s;
			z-index: 10;

			&:hover { background: rgba(0,0,0,0.0); }

			&:hover > div:nth-child(2), &:hover > div:nth-child(3) div p { background-color: $black-transparent-bg-hover; }

			> div:nth-child(1):hover svg {
    		opacity: 1;
    	}

			> div:nth-child(1) {
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	top: 50%;
	    	left: 50%;
	    	transform: translateX(-50%)translateY(-50%);
	    	z-index: 999;

	    	svg {
	    		opacity: 0;
	    		position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	margin: -30px 0 0 -30px;
	    		width: 60px;
	    		height: 60px;
	    		transform: rotate(0deg);
	    		transition: all 0.1s;
	    	}
	    }

			> div:nth-child(2) {
				position: absolute;
				width: 90%;
				bottom: 10%;
				left: 50%;
				transform: translateX(-50%);

				background-color: $black-transparent-bg;
				padding: 10px;
				box-sizing: border-box;
				transition: all 0.4s;

				h2, p, h5 {
					color: #fff;
					margin: 0 auto;
					text-align: center;
				}

				h2 {
					text-transform: uppercase;
					font-size: 20px;
				}

				p {
					font-size: 12px;
					font-weight: normal;
				}

				h5 {
					font-size: 9px;
					font-weight: lighter;
					font-style: italic;
				}
			}

			> div:nth-child(3) {
				position: absolute;
				top: 10%;
				left: 5%;

				div {
					margin: 0 auto 4px;

					p {
						display: inline;
						background-color: $black-transparent-bg;
						color: #fff;
						font-size: 9px;
						margin: 0;
						padding: 4px 10px;
				    font-weight: bold;
				    text-transform: uppercase;
				    border-radius: 9px;

				    &::before {
				    	content: "#";
				    }
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	
	.spc_article_excerpts {

		a:last-child article {
				width: 98%;
				margin: 0 0 1% 1%;
			}

		article {
			width: 48.5%;
			margin: 0 0 1% 1%;
		}
	}
}

@media screen and (max-width: 500px) {
	
	.spc_article_excerpts {

		article {
			width: 96%;
			margin: 0 0 2% 2%;
		}
	}
}