<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.1.0" type="text/css">


<title>Header | Spacecraft starter</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Spacecraft starter</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-946e83c869bd741cfd8e3b18935ab0f0">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/header.html" title="Component preview">
            Header
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF9233; border-color: #FF9233;">WIP</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-946e83c869bd741cfd8e3b18935ab0f0">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/header.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-946e83c869bd741cfd8e3b18935ab0f0">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-946e83c869bd741cfd8e3b18935ab0f0-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-946e83c869bd741cfd8e3b18935ab0f0-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-946e83c869bd741cfd8e3b18935ab0f0-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-946e83c869bd741cfd8e3b18935ab0f0-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-946e83c869bd741cfd8e3b18935ab0f0-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-946e83c869bd741cfd8e3b18935ab0f0-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-946e83c869bd741cfd8e3b18935ab0f0-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"header"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"logowrapper"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/img/logo-color-sm.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Logo"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- Main-menu --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"main-menu"</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Menu<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Example<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Meny<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Exempel<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"burger"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/img/burger.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Main menu"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-946e83c869bd741cfd8e3b18935ab0f0-panel-view">
    <code class="Code Code--lang-twig">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"header"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"logowrapper"</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/img/logo-color-sm.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Logo"</span>/&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-comment">&lt;!-- Main-menu --&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"main-menu"</span>&gt;</span>

	</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">for</span></span> item in menu.items %}</span><span class="xml">
		<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ item.target }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span></span><span class="hljs-template-variable">{{ item.name }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
	</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">endfor</span></span> %}</span><span class="xml">	

	<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"burger"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/img/burger.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Main menu"</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-946e83c869bd741cfd8e3b18935ab0f0-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"menu"</span>: {
    <span class="hljs-attr">"items"</span>: [
      {
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Menu"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"#"</span>
      },
      {
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Example"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"#"</span>
      },
      {
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Meny"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"#"</span>
      },
      {
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Exempel"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"#"</span>
      }
    ]
  }
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-946e83c869bd741cfd8e3b18935ab0f0-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-4ad013329e6624e3f98e8000464e786e">_header.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-4ad013329e6624e3f98e8000464e786e" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-tag">header</span> {
	<span class="hljs-attribute">position</span>: absolute;
	<span class="hljs-attribute">padding</span>: <span class="hljs-number">0</span> <span class="hljs-number">1.5%</span>;
	<span class="hljs-attribute">width</span>: <span class="hljs-number">97%</span>;
	<span class="hljs-attribute">background</span>: <span class="hljs-variable">$medium-sunglasses</span>;
	<span class="hljs-attribute">border-bottom</span>: <span class="hljs-number">1px</span> solid rgba(<span class="hljs-number">255</span>,<span class="hljs-number">255</span>,<span class="hljs-number">255</span>,<span class="hljs-number">0.2</span>);
	<span class="hljs-attribute">z-index</span>: <span class="hljs-number">999</span>;

	<span class="hljs-selector-id">#logowrapper</span> {
		<span class="hljs-attribute">float</span>: left;
	}

	<span class="hljs-selector-id">#logowrapper</span> &gt; <span class="hljs-selector-tag">img</span> {
		<span class="hljs-attribute">margin</span>: <span class="hljs-number">14px</span> <span class="hljs-number">2px</span> <span class="hljs-number">2px</span> <span class="hljs-number">0px</span>;
	    <span class="hljs-attribute">height</span>: <span class="hljs-number">40px</span>;
	    <span class="hljs-attribute">opacity</span>: <span class="hljs-number">0.9</span>;
	    <span class="hljs-attribute">transition</span>: all <span class="hljs-number">0.2s</span> ease-in-out;
	}

	<span class="hljs-selector-id">#logowrapper</span> &gt; <span class="hljs-selector-tag">img</span>:hover {
	    <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
	}

	<span class="hljs-comment">/* Main menu */</span>

	<span class="hljs-selector-id">#burger</span> {
		<span class="hljs-attribute">display</span>: none;
	}

	<span class="hljs-selector-id">#main-menu</span> {
		<span class="hljs-attribute">display</span>: inline;
	}

	<span class="hljs-selector-id">#main-menu</span> {
		<span class="hljs-attribute">list-style-type</span>: none;
		<span class="hljs-attribute">display</span>: flex;
		<span class="hljs-attribute">justify-content</span>: flex-end;
		<span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span>;
	    <span class="hljs-attribute">padding</span>: <span class="hljs-number">0</span>;

	    <span class="hljs-selector-tag">li</span> {
			<span class="hljs-attribute">color</span>: <span class="hljs-number">#fff</span>;
			<span class="hljs-attribute">padding</span>: <span class="hljs-number">23px</span> <span class="hljs-number">0px</span>;
			<span class="hljs-attribute">opacity</span>: <span class="hljs-number">0.8</span>;
			<span class="hljs-attribute">transition</span>: all <span class="hljs-number">0.2s</span> ease-in-out;

			<span class="hljs-selector-tag">a</span> {
				<span class="hljs-attribute">font-size</span>: <span class="hljs-number">13px</span>;
				<span class="hljs-attribute">padding</span>: <span class="hljs-number">20px</span>;
				<span class="hljs-attribute">color</span>: <span class="hljs-number">#fff</span>;
				<span class="hljs-attribute">text-decoration</span>: none;
				<span class="hljs-attribute">font-weight</span>: <span class="hljs-number">100</span>;
			}
		}

		<span class="hljs-selector-tag">li</span>:hover {
			<span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
			<span class="hljs-attribute">background</span>: <span class="hljs-variable">$medium-sunglasses</span>;
		}
	}
}

<span class="hljs-comment">/* Responsive &lt; 750px
––––––––––––––––––––––––––––––––––––––––––––––––––*/</span>

@<span class="hljs-keyword">media</span> (max-width: 750px) {

	<span class="hljs-selector-tag">header</span> {

		<span class="hljs-attribute">padding</span>: <span class="hljs-number">0</span> <span class="hljs-number">2.5%</span>;
		<span class="hljs-attribute">width</span>: <span class="hljs-number">95%</span>;

		<span class="hljs-selector-id">#main-menu</span> {
			<span class="hljs-attribute">display</span>: none;
			<span class="hljs-attribute">opacity</span>: <span class="hljs-number">0</span>;

			<span class="hljs-attribute">position</span>: fixed;
			<span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
			<span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
			<span class="hljs-attribute">bottom</span>: <span class="hljs-number">0</span>;
			<span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
			<span class="hljs-attribute">padding-top</span>: <span class="hljs-number">60px</span>;
			<span class="hljs-attribute">background</span>: <span class="hljs-variable">$strong-sunglasses</span>;

				<span class="hljs-selector-tag">li</span> {
					<span class="hljs-attribute">text-align</span>: center;

					<span class="hljs-selector-tag">a</span> {
						<span class="hljs-attribute">font-size</span>: <span class="hljs-number">18px</span>;
					}
				}
			}

		<span class="hljs-selector-id">#burger</span> {
			<span class="hljs-attribute">z-index</span>: <span class="hljs-number">999</span>;
		    <span class="hljs-attribute">float</span>: right;
		    <span class="hljs-attribute">margin</span>: <span class="hljs-number">10px</span> <span class="hljs-number">2.5%</span> <span class="hljs-number">0px</span> <span class="hljs-number">0px</span>;
		    <span class="hljs-attribute">height</span>: <span class="hljs-number">40px</span>;
		    <span class="hljs-attribute">opacity</span>: <span class="hljs-number">0.9</span>;
		    <span class="hljs-attribute">transition</span>: all <span class="hljs-number">0.2s</span> ease-in-out;
			<span class="hljs-attribute">display</span>: block;
			<span class="hljs-attribute">position</span>: absolute;
		    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
		    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
		}
	}
}</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/header/_header.scss"><span>/components/raw/header/_header.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">views/header/_header.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">1.6 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-946e83c869bd741cfd8e3b18935ab0f0-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@header</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/header.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/header.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">views/header/header.twig</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-946e83c869bd741cfd8e3b18935ab0f0-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/introduction.html" data-pjax>
                <span>Introduction</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="crab.html" data-pjax>
                <span>Crab</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="example.html" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="hero.html" data-pjax>
                <span>Hero</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-icon">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Icon</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--checkmark.html" data-pjax>
                <span>Checkmark</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--info.html" data-pjax>
                <span>Info</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--warning.html" data-pjax>
                <span>Warning</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icons.html" data-pjax>
                <span>Icons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="shrimp.html" data-pjax>
                <span>Shrimp</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="startpage.html" data-pjax>
                <span>Startpage</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.1.0"></script>



</body>
</html>
