/* ==========================================================================
   Color settings
   ========================================================================== */

$theme-color: #666;
$color-mark-background: #ff0 !default;
$color-mark-color: #000 !default;
$strong-sunglasses: rgba(0,0,0,0.8);
$medium-sunglasses: rgba(0,0,0,0.5);
$light-sunglasses: rgba(0,0,0,0.3);