<!-- Temp "normalizer" -->
<style>
	html, body {margin: 0;}
	body {opacity: 0;}
</style>
<!-- Limit width -->
<div style="max-width:1024px;margin:0 auto;overflow: auto;">
	{% include "spc_social_widget/spc_social_widget.twig" %}
	{% include "spc_hero_article/spc_hero_article.twig" %}
	{% include "spc_fullwidth_heading/spc_fullwidth_heading.twig" %}
	{% include "spc_inline_menu/spc_inline_menu.twig" %}
	{% include "spc_article_excerpts/spc_article_excerpts.twig" %}
	{% include "spc_more_button/spc_more_button.twig" %}
	{% include "spc_simple_footer/spc_simple_footer.twig" %}
</div>