<div class="spc_simple_footer" data-module="spc_simple_footer" data-spc_simple_footer="company name">

	<hr />
	<footer>
		<p><span></span>, click this <a href="#">examplelink</a></p>
	</footer>

</div>
