<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.1.0" type="text/css">


<title>Spc Inline Menu | Spacecraft Component Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Spacecraft Component Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-2838c9d989dd13bc407df0043b8a16cc">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/spc_inline_menu.html" title="Component preview">
            Spc Inline Menu
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF3333; border-color: #FF3333;">Prototype</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-2838c9d989dd13bc407df0043b8a16cc">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/spc_inline_menu.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-2838c9d989dd13bc407df0043b8a16cc">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-2838c9d989dd13bc407df0043b8a16cc-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-2838c9d989dd13bc407df0043b8a16cc-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-2838c9d989dd13bc407df0043b8a16cc-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-2838c9d989dd13bc407df0043b8a16cc-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-2838c9d989dd13bc407df0043b8a16cc-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-2838c9d989dd13bc407df0043b8a16cc-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-2838c9d989dd13bc407df0043b8a16cc-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"spc_inline_menu"</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"spc_inline_menu"</span> <span class="hljs-attr">data-spc_inline_menu</span>=<span class="hljs-string">"Spc_inline_menu JS-module loaded!"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">nav</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuButton"</span>&gt;</span>menu<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"toggleMenu"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.example.se"</span>&gt;</span>blog<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.example.se"</span>&gt;</span>reviews<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.example.se"</span>&gt;</span>article<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.example.se"</span>&gt;</span>contact<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.example.se"</span>&gt;</span>about<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.example.se"</span>&gt;</span>social<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-2838c9d989dd13bc407df0043b8a16cc-panel-view">
    <code class="Code Code--lang-twig">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"spc_inline_menu"</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"spc_inline_menu"</span> <span class="hljs-attr">data-spc_inline_menu</span>=<span class="hljs-string">"Spc_inline_menu JS-module loaded!"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">nav</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
			<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuButton"</span>&gt;</span></span><span class="hljs-template-variable">{{ spc_inline_menu.button.name }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
		<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"toggleMenu"</span>&gt;</span>
			</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">for</span></span> item in spc_inline_menu.items %}</span><span class="xml">
				<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menuItem"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ item.target }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span></span><span class="hljs-template-variable">{{ item.text }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
			</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">endfor</span></span> %}</span><span class="xml">
		<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>	
	<span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-2838c9d989dd13bc407df0043b8a16cc-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"spc_inline_menu"</span>: {
    <span class="hljs-attr">"button"</span>: {
      <span class="hljs-attr">"name"</span>: <span class="hljs-string">"menu"</span>
    },
    <span class="hljs-attr">"items"</span>: {
      <span class="hljs-attr">"item1"</span>: {
        <span class="hljs-attr">"text"</span>: <span class="hljs-string">"blog"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"www.example.se"</span>
      },
      <span class="hljs-attr">"item2"</span>: {
        <span class="hljs-attr">"text"</span>: <span class="hljs-string">"reviews"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"www.example.se"</span>
      },
      <span class="hljs-attr">"item3"</span>: {
        <span class="hljs-attr">"text"</span>: <span class="hljs-string">"article"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"www.example.se"</span>
      },
      <span class="hljs-attr">"item4"</span>: {
        <span class="hljs-attr">"text"</span>: <span class="hljs-string">"contact"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"www.example.se"</span>
      },
      <span class="hljs-attr">"item5"</span>: {
        <span class="hljs-attr">"text"</span>: <span class="hljs-string">"about"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"www.example.se"</span>
      },
      <span class="hljs-attr">"item6"</span>: {
        <span class="hljs-attr">"text"</span>: <span class="hljs-string">"social"</span>,
        <span class="hljs-attr">"target"</span>: <span class="hljs-string">"www.example.se"</span>
      }
    }
  }
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-2838c9d989dd13bc407df0043b8a16cc-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-41f81400e9984d2b43d57ab51773d229">_spc_inline_menu.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-41f81400e9984d2b43d57ab51773d229" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.spc_inline_menu</span> {

	<span class="hljs-attribute">float</span>: left;
	<span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
	<span class="hljs-attribute">overflow</span>: auto;

	<span class="hljs-selector-tag">nav</span> {

		<span class="hljs-attribute">float</span>: left;
		<span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
		<span class="hljs-attribute">overflow</span>: auto;

		<span class="hljs-selector-tag">ul</span>:first-child { <span class="hljs-attribute">display</span>: none; }

		<span class="hljs-selector-tag">ul</span> {
			<span class="hljs-attribute">float</span>: left;
			<span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
			<span class="hljs-attribute">list-style</span>: none;
			<span class="hljs-attribute">padding</span>: <span class="hljs-number">0</span>;
			<span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> auto;

			<span class="hljs-selector-class">.menuButton</span> {
				<span class="hljs-attribute">float</span>: left;
				<span class="hljs-attribute">text-align</span>: center;
				<span class="hljs-attribute">text-transform</span>: uppercase;
				<span class="hljs-attribute">margin</span>: <span class="hljs-number">5px</span>;
				<span class="hljs-attribute">font-size</span>: <span class="hljs-number">22px</span>;
				<span class="hljs-attribute">text-decoration</span>: none;
				<span class="hljs-attribute">color</span>: <span class="hljs-number">#000</span>;
				<span class="hljs-attribute">font-weight</span>: bold;
				<span class="hljs-attribute">padding</span>: <span class="hljs-number">10px</span>;
			}

			<span class="hljs-selector-class">.menuItem</span> {
				<span class="hljs-attribute">float</span>: left;
				<span class="hljs-attribute">text-align</span>: center;
				<span class="hljs-attribute">text-transform</span>: uppercase;
				<span class="hljs-attribute">margin</span>: <span class="hljs-number">15px</span> auto;

				<span class="hljs-selector-tag">a</span> {
					<span class="hljs-attribute">font-size</span>: <span class="hljs-number">22px</span>;
					<span class="hljs-attribute">text-decoration</span>: none;
					<span class="hljs-attribute">color</span>: <span class="hljs-number">#000</span>;
					<span class="hljs-attribute">font-weight</span>: bold;
					<span class="hljs-attribute">padding</span>: <span class="hljs-number">15px</span>;
					<span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span>;
				}
			}
		}
	}
}

@<span class="hljs-keyword">media</span> screen and (max-width: 1024px) {

	<span class="hljs-selector-tag">div</span><span class="hljs-selector-class">.spc_inline_menu</span> {

		<span class="hljs-selector-tag">ul</span>:first-child { <span class="hljs-attribute">display</span>: block; }

		<span class="hljs-selector-tag">ul</span>:nth-child(2) { 
			<span class="hljs-attribute">display</span>: none;

			<span class="hljs-selector-tag">li</span> {
				<span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
				<span class="hljs-attribute">text-align</span>: left;
			}

		}
	}
}















</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/spc_inline_menu/_spc_inline_menu.scss"><span>/components/raw/spc_inline_menu/_spc_inline_menu.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">views/spc_inline_menu/_spc_inline_menu.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">962 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-2838c9d989dd13bc407df0043b8a16cc-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@spc_inline_menu</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/spc_inline_menu.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/spc_inline_menu.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">views/spc_inline_menu/spc_inline_menu.twig</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-2838c9d989dd13bc407df0043b8a16cc-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>bout it bout it</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/introduction.html" data-pjax>
                <span>Introduction</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_article_excerpts.html" data-pjax>
                <span>Spc Article Excerpts</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_fullwidth_heading.html" data-pjax>
                <span>Spc Fullwidth Heading</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_hero_article.html" data-pjax>
                <span>Spc Hero Article</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_inline_menu.html" data-pjax>
                <span>Spc Inline Menu</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_more_button.html" data-pjax>
                <span>Spc More Button</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_simple_footer.html" data-pjax>
                <span>Spc Simple Footer</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_social_widget.html" data-pjax>
                <span>Spc Social Widget</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/spc_testfile.html" data-pjax>
                <span>Spc Testfile</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="example.html" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-icon">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Icon</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--checkmark.html" data-pjax>
                <span>Checkmark</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--info.html" data-pjax>
                <span>Info</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon--warning.html" data-pjax>
                <span>Warning</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icons.html" data-pjax>
                <span>Icons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_article_excerpts.html" data-pjax>
                <span>Spc Article Excerpts</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_fullwidth_heading.html" data-pjax>
                <span>Spc Fullwidth Heading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_hero_article.html" data-pjax>
                <span>Spc Hero Article</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Spc Inline Menu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_more_button.html" data-pjax>
                <span>Spc More Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_simple_footer.html" data-pjax>
                <span>Spc Simple Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_social_widget.html" data-pjax>
                <span>Spc Social Widget</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="spc_testfile.html" data-pjax>
                <span>Spc Testfile</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="startpage.html" data-pjax>
                <span>Startpage</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.1.0"></script>



</body>
</html>
