

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <svg class="icon icon-calendar"><use xlink:href="/icons/icons.svg#calendar"></use></svg>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</body>
</html>

