

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="spc_article_excerpts" data-module="spc_article_excerpts" data-spc_article_excerpts="spc_article_excerpts JS-module loaded!">
	
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts2.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts3.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts6.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts7.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts8.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(/img/spc_article_excerpts9.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
	
</div>


</body>
</html>

