

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="spc_inline_menu" data-module="spc_inline_menu">
	<nav>
		<ul>
			<li class="menuButton">menu</li>
		</ul>
		<ul class="toggleMenu">
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
					</ul>	
	</nav>
</div>


</body>
</html>

