

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
</head>
<body>

  <div id="spc_testfile" data-module="spc_testfile" data-spc_testfile="Spc_testfile JS-module loaded!">
	<div>
		<div>
			<h1>This is the<br />spc_testfile<br />component</h1>
			<h6>(Data is being imported from spc_testfile.config.json)</h6>
			<p>Place readme-info here...</p>
		</div>
	</div>
</div>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</body>
</html>

