

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="spc_inline_menu" data-module="spc_inline_menu" data-spc_inline_menu="Spc_inline_menu JS-module loaded!">
	<nav>
		<ul>
			<li class="menuButton">menu</li>
		</ul>
		<ul class="toggleMenu">
							<li class="menuItem"><a href="www.example.se">blog</a></li>
							<li class="menuItem"><a href="www.example.se">reviews</a></li>
							<li class="menuItem"><a href="www.example.se">article</a></li>
							<li class="menuItem"><a href="www.example.se">contact</a></li>
							<li class="menuItem"><a href="www.example.se">about</a></li>
							<li class="menuItem"><a href="www.example.se">social</a></li>
					</ul>	
	</nav>
</div>


</body>
</html>

