

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!-- Temp "normalizer" -->
<style>
	html, body {margin: 0;}
	body {opacity: 0;}
</style>
<!-- Limit width -->
<div style="max-width:1024px;margin:0 auto;overflow: auto;">
	<div class="spc_social_widget" data-module="spc_social_widget">
	<!-- Button -->
	<div class="social-button">
		<p>us</p>
	</div>
	<!-- Display on toggle -->
	<div class="icons-wrapper">
		<div>
			<p><b>SAY HELLO!</b></p>
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_twitter"></use></a></svg>	
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_instagram"></use></a></svg>	
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_facebook"></use></a></svg>	
								</div>
	</div>
</div>
	<div class="spc_hero_article" data-module="spc_hero_article" data-spc_hero_article="spc_hero_article JS-module loaded!">
		
	<article style="background-image:url(https://images.genius.com/3c48a24a8c05ee4b6b07a2eada68a3d0.640x640x1.jpg);">
		<div>
			<div>
				<h2>Testing heading</h2>
				<p>The ingress of article shows here. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				<hr />
				<h5>Fredrik Larsson 2017-04-06</h5>
			</div>
			<div>
									<div><p>music</p></div>
									<div><p>food</p></div>
									<div><p>design</p></div>
							</div>
			<div></div>
		</div>
	</article>

</div>
	<div class="spc_fullwidth_heading" data-module="spc_fullwidth_heading" data-spc_fullwidth_heading="spc_fullwidth_heading JS-module loaded!">

	<div>
		<h1>
			<a href="#">
				company
			</a>
		</h1>
	</div>

</div>
	<div class="spc_inline_menu" data-module="spc_inline_menu">
	<nav>
		<ul>
			<li class="menuButton">menu</li>
		</ul>
		<ul class="toggleMenu">
							<li class="menuItem">
					<span>#</span><a href="#">music</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="#">food</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="#">fashion</a>
										<ul>
												<li><span>#</span><a href="#">clothing</a></li>
												<li><span>#</span><a href="#">jewellery</a></li>
												<li><span>#</span><a href="#">hats</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<span>#</span><a href="#">art</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="#">design</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="#">sport</a>
									</li>
					</ul>	
	</nav>
</div>
	<div class="spc_article_excerpts" data-module="spc_article_excerpts" data-spc_article_excerpts="spc_article_excerpts JS-module loaded!">
	
			<a href="#">
			<article style="background-image:url(http://i.telegraph.co.uk/multimedia/archive/02813/grand-budapest_2813768b.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Budapest heading</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Fredrik Larsson 2017-04-06</h5>
					</div>
					<div>
													<div><p>music</p></div>
													<div><p>food</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://babelmalmo.se/wp-content/2015/03/nightmen.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Heading Testing</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Lars Fredriksson 2017-07-01</h5>
					</div>
					<div>
													<div><p>music</p></div>
													<div><p>fashion</p></div>
													<div><p>art</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://www.bjurfors.se/globalassets/omradesbilder/skane/oresundsregionen/oresundsregionenstart.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Testing heading for third article</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Fredde Larsån 2017-10-18</h5>
					</div>
					<div>
													<div><p>design</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://content.acclaimmag.com/content/uploads/2013/11/ODB.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Heading out to test a test</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Fred Flinta 2017-06-26</h5>
					</div>
					<div>
													<div><p>music</p></div>
													<div><p>fashion</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://storaensoskog.se/dev/wp-content/uploads/2014/12/silverkvist.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Heads up!</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Freddie Cruger 2017-11-26</h5>
					</div>
					<div>
													<div><p>art</p></div>
													<div><p>food</p></div>
													<div><p>music</p></div>
													<div><p>fashion</p></div>
													<div><p>design</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://vignette2.wikia.nocookie.net/flinstones/images/5/54/Flintstones_and_Rubbles1.jpg/revision/latest/scale-to-width-down/588?cb=20121121224124);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Head of a headless test</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Freds Furste 2017-12-06</h5>
					</div>
					<div>
													<div><p>art</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://dreamicus.com/data/satan/satan-02.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>Heads ska rulla</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Freak Fred 2017-09-16</h5>
					</div>
					<div>
													<div><p>design</p></div>
													<div><p>food</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://cdn-01.rockfoto.nu/imagesbig/20120628_001516_133160.jpg);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>vånna heading</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Freds Furste 2017-12-06</h5>
					</div>
					<div>
													<div><p>food</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(http://vignette1.wikia.nocookie.net/fantasticmrfox/images/e/ed/MrFox.jpg/revision/latest?cb=20140512194259);">
				<div>
					<div><svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg></div>
					<div>
						<h2>foxheads</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Freak Fred 2017-09-16</h5>
					</div>
					<div>
													<div><p>music</p></div>
													<div><p>food</p></div>
													<div><p>design</p></div>
											</div>
				</div>
			</article>
		</a>
	
</div>
	<div class="spc_more_button" data-module="spc_more_button" data-spc_more_button="view more">
		
	<div>
		<button type="button"><span>+</span></button>
	</div>

</div>
	<div class="spc_simple_footer" data-module="spc_simple_footer" data-spc_simple_footer="company name">

	<hr />
	<footer>
		<p><span></span>, click this <a href="#">examplelink</a></p>
	</footer>

</div>
</div>

</body>
</html>

