$spc_inline_menu-dark: #000;
$spc_inline_menu-bright: #fff;

/* Clearfix */
.spc_inline_menu::after,
.spc_inline_menu nav::after {
  content: "";
  clear: both;
  display: table;
}

.spc_inline_menu {

	float: left;
	width: 100%;
	box-sizing: border-box;

	nav {

		float: left;
		width: 98%;
		margin: 0 1%;

		ul:first-child { display: none; }

		ul {
			float: left;
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0 auto;

			.menuButton {
				float: left;
				text-align: center;
				text-transform: uppercase;
				margin: 5px;
				font-size: 22px;
				text-decoration: none;
				color: $spc_inline_menu-dark;
				font-weight: bold;
				padding: 10px;
				z-index: 999;
			}

			.menuItem {
				position: relative;
				float: left;
				text-align: center;
				text-transform: uppercase;
				margin: 0 auto;

				&:hover ul {
					opacity: 1;
				}

				&:hover ul li {
					height: 43px;
				}

				a {
					position: relative;
					display: block;
					font-size: 22px;
					text-decoration: none;
					font-weight: bold;
					padding: 10px 0;
					margin: 0 2px;
					background-color: $spc_inline_menu-bright;
					color: $spc_inline_menu-dark;
					transition: all 0.2s;
					border-radius: 30px;

					&:hover { background-color: $spc_inline_menu-dark; color: $spc_inline_menu-bright; }

					span {
						position: absolute;
						font-size: inherit;
						color: $spc_inline_menu-bright;
						top: 50%;
						left: 6%;
						transform: translateY(-50%);
					}
				}

				ul {
					position: absolute;
					top: 100%;
					left: 0;
					padding: 0;
					z-index: 999;
					opacity: 0;
					margin-top: 3px;
					transition: all 0.2s;

					li {
						height: 0px;
						position: relative;
						float: none;
						text-align: center;
						text-transform: uppercase;
						margin: 3px auto;
						transition: all 0.4s;

						&:hover a { background-color: $spc_inline_menu-dark; color: $spc_inline_menu-bright; }

						a {
							display: block;
							font-size: 22px;
							text-decoration: none;
							font-weight: bold;
							padding: 10px 0;
							margin: 0 2px;
							background-color: $spc_inline_menu-bright;
							color: $spc_inline_menu-dark;
							transition: all 0.2s;
							border-radius: 30px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {

	div.spc_inline_menu {

		position: fixed;
		top: 0;
		background-color: $spc_inline_menu-bright;
		z-index: 900;

		ul:first-child { display: block; }

		.fade-in-out {
			opacity: 1 !important;
			left: 0 !important;
		}

		ul:nth-child(2) {
			opacity: 0;
			overflow: scroll;
			float: left;
			box-sizing: border-box;
			position: fixed;	
			top: 55px;
			left: -100vw;
			bottom: 0;
			float: none;
			padding-left: 10px;
			background-color: $spc_inline_menu-bright;
			transition: all 0.3s;

			li.menuItem {
				width: 100%;
				text-align: left;

				&:hover > span { color: $spc_inline_menu-dark; }

				&:hover ul li {
					height: initial;
				}

				span {
					position: absolute;
					font-size: 22px;
					color: $spc_inline_menu-dark;
					top: 50%;
					left: 10px;
					transform: translateY(-50%);
				}

				> a {
					margin: 5px;
					padding: 10px 10px 10px 26px;

					&:hover { background-color: transparent; }
				}

				ul {
					box-sizing: border-box;
					position: initial;
					opacity: 1;
					background-color: #f3f3f3;
					padding-left: 14px;

					li {
						float: left;
						width: 100%;
						height: initial;
						position: relative;
						text-align: left;
						text-transform: uppercase;
						margin: 3px auto;
						transition: all 0.4s;

						a {
							font-style: italic;
							font-size: 18px;
							background-color: transparent;
							margin: 5px;
							padding: 10px 10px 10px 26px;

							span {
								position: absolute;
								font-size: inherit;
								color: $spc_inline_menu-dark;
								top: 50%;
								left: 10px;
								transform: translateY(-50%);
							}
						}
					}
				}
			}
		}
	}
}















