<div class="spc_inline_menu" data-module="spc_inline_menu">
	<nav>
		<ul>
			<li class="menuButton">{{ spc_inline_menu.button.name }}</li>
		</ul>
		<ul class="toggleMenu">
			{% for item in spc_inline_menu.items %}
				<li class="menuItem">
					<a href="{{ item.target }}"><span>#</span>{{ item.text }}</a>
					{% if item.items %}
					<ul>
						{% for submenuitem in item.items %}
						<li><a href="#"><span>#</span>{{ submenuitem }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>	
	</nav>
</div>
