

  <svg class="icon icon-calendar"><use xlink:href="/icons/icons.svg#calendar"></use></svg>
  <svg class="icon icon-checkmark"><use xlink:href="/icons/icons.svg#checkmark"></use></svg>
  <svg class="icon icon-info"><use xlink:href="/icons/icons.svg#info"></use></svg>
  <svg class="icon icon-warning"><use xlink:href="/icons/icons.svg#warning"></use></svg>
  <svg class="icon icon-info"><use xlink:href="/icons/icons.svg#info"></use></svg>
  <svg class="icon icon-warning"><use xlink:href="/icons/icons.svg#warning"></use></svg>
  <svg class="icon icon-info"><use xlink:href="/icons/icons.svg#info"></use></svg>
  <svg class="icon icon-warning"><use xlink:href="/icons/icons.svg#warning"></use></svg>
  <svg class="icon icon-info"><use xlink:href="/icons/icons.svg#info"></use></svg>




