

<div id="spc_social_widget" data-module="spc_social_widget" data-spc_social_widget="Spc_social_widget loaded!">
	<!-- Button -->
	<div id="social-button">
		<p>us</p>
	</div>
	<!-- Display on toggle -->
	<div class="icons-wrapper">
		<div>
			<p><b>SAY HELLO!</b></p>
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_twitter"></use></a></svg>	
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_instagram"></use></a></svg>	
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_facebook"></use></a></svg>	
								</div>
	</div>
</div>

