

<div class="spc_article_excerpts" data-module="spc_article_excerpts" data-spc_article_excerpts="spc_article_excerpts JS-module loaded!">
	
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
	
</div>

