

<div class="spc_inline_menu" data-module="spc_inline_menu">
	<nav>
		<ul>
			<li class="menuButton">menu</li>
		</ul>
		<ul class="toggleMenu">
							<li class="menuItem">
					<span>#</span><a href="www.example.se">blog</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="www.example.se">reviews</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="www.example.se">article</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="www.example.se">contact</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="www.example.se">about</a>
									</li>
							<li class="menuItem">
					<span>#</span><a href="www.example.se">social</a>
									</li>
					</ul>	
	</nav>
</div>

