

<div id="spc_hero_article" data-module="spc_hero_article" data-spc_hero_article="spc_hero_article JS-module loaded!">
		
	<article style="background-image:url(https://images.genius.com/3c48a24a8c05ee4b6b07a2eada68a3d0.640x640x1.jpg);">
		<div>
			<div>
				<h2>Testing heading</h2>
				<p>The ingress of article shows here. The ingress of article shows here. The ingress of article shows here. The ingress of article shows here.</p>
				<hr />
				<h5>Fredrik Larsson 2017-04-06</h5>
			</div>
		</div>
	</article>

</div>

