

<!-- Temp "normalizer" -->
<style>
	html, body {margin: 0;}
	body {opacity: 0;}
</style>
<!-- Limit width -->
<div style="max-width:1024px;margin:0 auto;overflow: auto;">
	<div class="spc_social_widget" data-module="spc_social_widget">
	<!-- Button -->
	<div class="social-button">
		<p>us</p>
	</div>
	<!-- Display on toggle -->
	<div class="icons-wrapper">
		<div>
			<p><b>CUSTOM TEXT</b></p>
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_twitter"></use></a></svg>	
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_instagram"></use></a></svg>	
							<svg><a href="#"><use xlink:href="/icons/icons.svg#spc_testfile_facebook"></use></a></svg>	
										<p>example@placeholdermail.com</p>
							<p>+XX XX XXX XX XX</p>
					</div>
	</div>
</div>
	<a href="blogpage">
	<div class="spc_hero_article" data-module="spc_hero_article">		
		<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
			<div>
				<div>
					<h2>article headline</h2>
					<p>The ingress of article shows here. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<hr />
					<h5>Author Name 2017-01-01</h5>
				</div>
				<div>
											<div><p>tags</p></div>
											<div><p>tags</p></div>
											<div><p>tags</p></div>
									</div>
				<div></div>
			</div>
		</article>
	</div>
</a>	<div class="spc_fullwidth_heading" data-module="spc_fullwidth_heading">

	<div>
		<h1>
			<a href="#">
				placeholder
			</a>
		</h1>
	</div>

</div>
	<div class="spc_inline_menu" data-module="spc_inline_menu">
	<nav>
		<ul>
			<li class="menuButton">menu</li>
		</ul>
		<ul class="toggleMenu">
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
							<li class="menuItem">
					<a href="#"><span>#</span>menu item</a>
										<ul>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
												<li><a href="#"><span>#</span>sub menu item</a></li>
											</ul>
									</li>
					</ul>	
	</nav>
</div>
	<div class="spc_article_excerpts" data-module="spc_article_excerpts" data-spc_article_excerpts="spc_article_excerpts JS-module loaded!">
	
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/1.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/4.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
			<a href="#">
			<article style="background-image:url(https://larsson-postcardapp.herokuapp.com/img/slides/5.jpg);">
				<div>
					<div>
						<svg><use xlink:href="/icons/icons.svg#spc_article_excerpts"></use></svg>
					</div>
					<div>
						<h2>article headline</h2>
						<!--<p>The first XX charachters of article...</p>-->
						<hr />
						<h5>Author Name 2017-01-01</h5>
					</div>
					<div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
													<div><p>tags</p></div>
											</div>
				</div>
			</article>
		</a>
	
</div>
	<div class="spc_more_button" data-module="spc_more_button" data-spc_more_button="view more">
		
	<div>
		<button type="button"><span>+</span></button>
	</div>

</div>
	<div class="spc_simple_footer" data-module="spc_simple_footer" data-spc_simple_footer="company name">

	<hr />
	<footer>
		<p><span></span>, click this <a href="#">examplelink</a></p>
	</footer>

</div>
</div>
