$spc_fullwidth_heading_font-family: 'Helvetica', sans-serif;
$spc_fullwidth_heading_color: #000;

/* Clearfix */
.spc_fullwidth_heading::after {
  content: "";
  clear: both;
  display: table;
}

.spc_fullwidth_heading {

	float: left;
	width: 100%;
	margin: 0;
	box-sizing: border-box;

	> div {

		> h1 {

			margin: 0;
			overflow: hidden;

			a {
				font-family: $spc_fullwidth_heading_font-family;
				display: table;
				font-size: 48px;
				text-decoration: none;
				color: $spc_fullwidth_heading_color;
				text-align: center;
		    text-transform: uppercase;
		    font-weight: bold;
		    margin: 0 auto;
			}
		}
	}
}