header {
	position: absolute;
	padding: 0 1.5%;
	width: 97%;
	background: $medium-sunglasses;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	z-index: 999;

	#logowrapper {
		float: left;
	}

	#logowrapper > img {
		margin: 14px 2px 2px 0px;
	    height: 40px;
	    opacity: 0.9;
	    transition: all 0.2s ease-in-out;
	}

	#logowrapper > img:hover {
	    opacity: 1;
	}

	/* Main menu */

	#burger {
		display: none;
	}

	#main-menu {
		display: inline;
	}

	#main-menu {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		margin: 0;
	    padding: 0;

	    li {
			color: #fff;
			padding: 23px 0px;
			opacity: 0.8;
			transition: all 0.2s ease-in-out;

			a {
				font-size: 13px;
				padding: 20px;
				color: #fff;
				text-decoration: none;
				font-weight: 100;
			}
		}

		li:hover {
			opacity: 1;
			background: $medium-sunglasses;
		}
	}
}

/* Responsive < 750px
––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media (max-width: 750px) {

	header {

		padding: 0 2.5%;
		width: 95%;

		#main-menu {
			display: none;
			opacity: 0;

			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding-top: 60px;
			background: $strong-sunglasses;

				li {
					text-align: center;

					a {
						font-size: 18px;
					}
				}
			}

		#burger {
			z-index: 999;
		    float: right;
		    margin: 10px 2.5% 0px 0px;
		    height: 40px;
		    opacity: 0.9;
		    transition: all 0.2s ease-in-out;
			display: block;
			position: absolute;
		    top: 0;
		    right: 0;
		}
	}
}