

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
</head>
<body>

  <div class="concattest">
	<p>Testar concat-task..</p>
</div>

<div style="background:pink;color:white;height:100px;width:100px;">
	<p>Crab</p>
</div>
<img src="/img/test.jpg" alt="#" style="max-width: 100px;" />

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</body>
</html>

