

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
</head>
<body>

  <header data-module="header">
	<div id="logowrapper">
		<img src="/img/logo-color-sm.png" alt="Logo"/>
	</div>
	<!-- Main-menu -->
	<ul id="main-menu">

		

	</ul>
	<img id="burger" src="/img/burger.png" alt="Main menu"/>
</header><div id="hero" data-module="hero">
	<div>
		<div>
			<h1>Test, stringlength sätter fontsize</h1>
			<h6>Så addar vi väl en byline till de på samma vis</h6>
		</div>
	</div>
</div>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</body>
</html>

