

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../../css/main.css" rel="stylesheet">
  <script src="../../js/main.js" defer=""></script>
</head>
<body>

  <header data-module="header">
	<div id="logowrapper">
		<img src="/img/logo-color-sm.png" alt="Logo"/>
	</div>
	<!-- Main-menu -->
	<ul id="main-menu">

		

	</ul>
	<img id="burger" src="/img/burger.png" alt="Main menu"/>
</header><div id="hero" data-module="hero">
	<div>
		<div>
			<h1></h1>
			<h6></h6>
		</div>
	</div>
</div>
<div data-module="shrimp" data-example="shrimp test data">
	<article>
		<div class="text-container center">
			<h2>Rubrik nummer två</h2>
			<svg style="width:20px;height:20px;display:inline-block;vertical-align:middle;">
			  	<use xlink:href="/icons/icons.svg#info"></use>
			</svg>
			<a href="#" style="vertical-align:middle;"> Inline länk</a>
			<p>
				<strong>Ingress det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut. Skall man använda långa stycken av Lorem Ipsum bör.</strong>
			</p>
			<img src="/img/test.jpg" alt="#" />
			<p>
				Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut. Skall man använda långa stycken av Lorem Ipsum bör man försäkra sig om att det inte gömmer sig något pinsamt mitt i texten. Lorem Ipsum-generatorer på internet tenderar att repetera Lorem Ipsum-texten styckvis efter behov, något som gör denna sidan till den första riktiga Lorem Ipsum-generatorn på internet. Den använder ett ordförråd på över 200 ord, kombinerat med ett antal meningsbyggnadsstrukturer som tillsamman genererar Lorem Ipsum som ser ut som en normal mening. Lorem Ipsum genererad på denna sidan är därför alltid fri från repetitioner, humorinslag, märkliga ordformationer osv.
			</p>
		</div>
	</article>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</body>
</html>

